@(pattern: Pattern, tags: List[Tag], sentences: List[Sentence])

<!DOCTYPE html>

<html>
    <head>
        <title>Networks of Names</title>
        
        <!-- Play -->
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        
        <!-- jQuery -->
        <script type="text/javascript" src="@routes.Assets.at("frameworks/jQuery/jquery-1.9.0.min.js")"></script>
        
        <!-- jQuery: hoverIntent -->
        <!-- <script type="text/javascript" src="http://cherne.net/brian/resources/jquery.hoverIntent.minified.js"></script> -->
        <script type="text/javascript" src="@routes.Assets.at("frameworks/hoverIntent/hoverIntent.js")"></script>
        
        <!-- CoffeeScript compiler -->        
        <script src="http://jashkenas.github.com/coffee-script/extras/coffee-script.js" type="text/javascript" charset="utf-8"></script>
        
        <!-- D3 -->
        <script type="text/javascript" src="@routes.Assets.at("frameworks/d3/d3.v3.js")" charset="utf-8"></script>
        <!-- <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script> -->
        
        <!-- Bootstrap -->
        <script type="text/javascript" src="@routes.Assets.at("frameworks/bootstrap/bootstrap.min.js")"></script>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.at("frameworks/bootstrap/css/bootstrap.min.css")">
        
        <!-- Bootstrap Datepicker -->
        <script type="text/javascript" src="@routes.Assets.at("frameworks/datepicker/js/bootstrap-datepicker.js")"></script>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.at("frameworks/datepicker/css/datepicker.css")">
        
        <!-- Networks of Names -->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/NetworksOfNames.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/actions.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/ui.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/ui-sources.js")"></script>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    
    <body>
      <div id="container" class="container">
      
      <header>
        <h1>Networks of Names</h1>
      </header>
      
      <div id="controls">       
      </div>
      
      <div id="main">
        <h2>Creation</h2>
        <dl>
          <dt>from Tag</dd>
          <dt>...</dd>
          
          <dt>Date</dd>
          <dt>...</dd>
        </dl>
      
        <h2>Tags</h2>
        <p>filtered to display each lable once; direction and automatic properties not shown.</p>
        <ul class="tag-box" style="list-style-type: none;">
          @for(tag <- tags) {
           <li style="display: inline;"><span class="label @if(!tag.automatic) { label-info }">
           <!-- @if(tag.direction == "l" || tag.direction == "b") {&#9668;&nbsp;} -->
           <span class="label-text">@tag.label</span>
           <!-- <span style="display: @if(tag.hasPositiveVotes) {inline} else {none}" class="label-confirmed">  &#10003;</span> -->
           <!-- @if(tag.direction == "r" || tag.direction == "b") {&nbsp;&#9658;} -->
           </span></li>
          }
        </ul>
        
        <h2>Sentences</h2>
        <ul>
          @for(s <- sentences) {
            <li>@s.text</li>
          }
        </ul>
      
      <div id="notes" class="accordion">
      </div>
      
      <footer></footer>
    </body>
</html>
